[submodule "2-css-foundations/2-css-foundations/css-exercises"]
	path = 2-css-foundations/2-css-foundations/css-exercises
	url = git@github.com:TheOdinProject/css-exercises.git
[submodule "2-css-foundations/2-css-foundations/2-css-foundations/css-exercises"]
	path = 2-css-foundations/2-css-foundations/2-css-foundations/css-exercises
	url = git@github.com:TheOdinProject/css-exercises.git
[submodule "2-css-foundations/css-exercises"]
	path = 2-css-foundations/css-exercises
	url = git@github.com:imHenryMa/css-exercises.git
[submodule "3-javascript-basics/javascript-exercises"]
	path = 3-javascript-basics/javascript-exercises
	url = git@github.com:imHenryMa/javascript-exercises.git
[submodule "3-javascript-basics/Javascript30"]
	path = 3-javascript-basics/Javascript30
	url = git@github.com:imHenryMa/JavaScript30.git
